<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CrudApplication.Properties.Settings.CRUDApplicationConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=CRUDApplication;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CrudApplication.Properties.Settings.CrudAppConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=CrudApp;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CrudApplication.Properties.Settings.DB_9EEE87_crudappConnectionString"
            connectionString="Data Source=SQL5020.Smarterasp.net;Initial Catalog=DB_9EEE87_crudapp;Persist Security Info=True;User ID=DB_9EEE87_crudapp_admin;Password=piotrekk"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>